@import '../../common-styles/variable.scss';

.EmptyCartPage_main {
    .EmptyCart_section {
        padding: 96px 0 128px 0;

        @media (max-width: 992px) {
            padding: 72px 0;
        }

        @media (max-width: 575px) {
            padding: 48px 0;
        }
    }

    .row_custom {
        align-items: center;

        @media (max-width: 992px) {
            gap: 72px 0;
        }

        @media (max-width: 575px) {
            gap: 48px 0;
        }

        .col_content_inr {
            @media (max-width: 992px) {
                text-align: center;
            }

            .cart_heading {
                color: $Dark;
            }

            .cart_desc {
                color: $Dark-65;
                margin: 24px 0 40px 0;

                @media (max-width: 992px) {
                    margin: 16px 0 24px 0;
                }
            }

            .action_otr {
                display: inline-flex;
            }
        }

        .col_img_inr {
            margin-left: 48px;
            border: 1px solid $Light-Bg2;
            padding: 40px;

            @media (max-width: 992px) {
                margin-left: 0;
            }

            @media (max-width: 575px) {
                padding: 20px;
            }

            .cart_img {
                width: 100%;
                height: 400px;
                object-fit: contain;

                @media (max-width: 992px) {
                    height: 300px;
                }

                @media (max-width: 575px) {
                    height: 250px;
                }
            }
        }
    }
}